.bg {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Business-meeting-15.jpg) 
    no-repeat; 
    width: 100%; 
    height: 100vh; 
    background-size: cover;
}

.form-container {
    border: 0px solid #fff;
    padding: 50px 60px;
    margin-top:  20vh;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}



h2 { 
    margin: 0 0 30px; 
    padding: 0; 
    color: #fff; 
    color: darkseagreen; 
    text-align: center;
}

label {
    color: aqua;
}
